@media screen and (max-width: 1400px) {
  #profile {
    height: 50vh;
    padding: 5rem;
    margin-bottom: 20em;
  }

  .about-containers {
    flex-wrap: wrap;
  }

  #about,
  #experience,
  #contact,
  #projects {
    height: fit-content;
  }
  .section__pic-container {
    width: auto;
    height: 350px;
  }

  #contacts {
    margin-top: 5em;
  }
}

@media screen and (max-width: 1280px) {
  #profile {
    height: 65vh;
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
  .contact-info-upper-container {
    flex-wrap: wrap; /* Wrap the items to the next line on smaller screens */
  }
}

@media screen and (max-width: 1000px){
  .contact-info-upper-container {
    flex-wrap: wrap; /* Wrap the items to the next line on smaller screens */
  }
}

@media screen and (max-width: 600px) {
  #contact,
  #projects,
  #experience,
  #profile {
    /* height: 83vh; */
    margin-bottom: 2em;
  }

  #profile{
    height: 83vh;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    word-break: break-word;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
    
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }

  .contact-info-upper-container {
    flex-wrap: wrap; /* Wrap the items to the next line on smaller screens */
  }

  .contact-info-container {
    margin: 1rem 0; /* Add space between the contact info containers */
  }

  .contact-info-container p {
    font-size: 1.2rem; /* Adjust font size for smaller screens */
  }

}
